# Do not expose your Neon credentials to the browser

# Database Connection
DATABASE_URL=
PROJECT_ID=black-shape-69339629

# Backend Server
PORT=3001

VITE_API_URL=http://localhost:3001/api
FRONTEND_URL=http://localhost:4000


# JWT Secret
JWT_SECRET="a_very_secret_and_long_key_for_jwt_that_is_secure"


SMTP_HOST=w01bb322.kasserver.com
SMTP_PORT=465
SMTP_USER=sportify@leon-stadler.com
SMTP_PASSWORD=
SMTP_FROM=sportify@leon-stadler.com